In [28]:
# Load modules
import os
import papermill as pm
from logger import logger
import scrapbook as sb
import pandas as pd

In [43]:
# Read in the notebook
nb = sb.read_notebook('spot-analysis.ipynb')

In [44]:
df = nb.scrap_dataframe
df.head()

# Read cell from dataframe where name is 'blob_data'
blob_data = df.loc[df['name'] == 'blob_data', 'data'].iloc[0]

# Create new dataframe with blob data
bd = pd.DataFrame(blob_data)
bd.head()

        0   1    2
0  blob_1  35   71
1  blob_2  30   86
2  blob_3  34   75
3  blob_4  36   87
4  blob_5  29  102

In [49]:
df = nb.scrap_dataframe
blob_dataframe = df.loc[df['name'] == 'blob_dataframe', 'data'].iloc[0]
blob_dataframe.head()

,File,ID,Avg. intensity,Max. intensity
0,img_eGFP_33nm_NaP_100mM_ph7dot5_Treh7dot5_20uW...,blob_1,35,71
1,img_eGFP_33nm_NaP_100mM_ph7dot5_Treh7dot5_20uW...,blob_2,30,86
2,img_eGFP_33nm_NaP_100mM_ph7dot5_Treh7dot5_20uW...,blob_3,34,75
3,img_eGFP_33nm_NaP_100mM_ph7dot5_Treh7dot5_20uW...,blob_4,36,87
4,img_eGFP_33nm_NaP_100mM_ph7dot5_Treh7dot5_20uW...,blob_5,29,102

In [ ]:
# Purpose: Run papermill on a list of files

# Logging
logger.info("Starting papermill")

# Set SOURCE_PATH
SOURCE_PATH = "/Users/kappel/Messungen/Setup04/JaKa/post_hack/23_08_07/77K-16nM-eGFP-vitrified/10uW/images/"

# Get list of files with extension .img from SOURCE_PATH
files = [file for file in os.listdir(SOURCE_PATH) if file.endswith(".img")]
print(files)

# Iterate over files and run papermill
for file in files:
    logger.info("Running papermill for {}".format(file))
    pm.execute_notebook(
        input_path = "spot-analysis.ipynb",
        output_path = "../s04utils/papermill-test-nbs/papermill-test-{}.ipynb".format(file),
        parameters=dict(
            # join SOURCE_PATH and file name
            SOURCE_IMAGE_PATH = os.path.join(SOURCE_PATH, file)
        )
    )